/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding: 102px 0;
  color: var(--themes-font-color, #000);
  font-family: var(--main-font, sans-serif);
  background-color: var(--themes-background-color);
  background-image: repeating-linear-gradient(
      0deg,
      var(--gradient-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--gradient-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--gradient-transitional-color-from) 0% 0.01%,
      var(--gradient-transitional-color-to) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-font-width, 400), "wdth" 100,
    "opsz" 0;
}

.button {
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* CONTAINER */

.container {
  width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 100px;
  border: 2px solid var(--themes-font-color, #000);
  padding-top: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  padding-bottom: 25px;
  background: var(--themes-background-color, #fff);
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title {
  color: var(--themes-font-color, #000);
  font-family: var(--accent-font, 'fantasy');
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.header__subtitle {
  color: var(--themes-font-color, #000);
  font-family: var(--accent-font, 'fantasy');
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 16px;
  line-height: 1;
}

.theme-menu__item {
  block-size: 14px;
}

.theme-menu__button {
  position: relative;
  color: var(--themes-font-color, #000);
  font-family: var(--accent-font, 'fantasy');
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--themes-font-color, #000);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:hover {
  opacity: 60%;
}

/* SECTION CARD */

.card {
  margin-block-end: 51px;
  border: 2px solid var(--themes-border-color, #000);
  background-color: var(--themes-background-color, #fff);
}

.card__title {
  padding: 3px 10px;
  color: var(--themes-font-color, #000);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: var(--themes-background-color, #fff);
  font-variation-settings: "wght" var(--title-font-width, 700);
  font-variation-settings: "wght" 700;
}

.card__cover {
  position: relative;
  border-block-start: 2px solid var(--themes-border-color, #000);
  border-block-end: 2px solid var(--themes-border-color, #000);
}

.card__cover:before {
  content: "</HTML>";
  position: absolute;
  top: 25px;
  right: clamp(0.688rem, 1.315vw + 0.379rem, 1.563rem);
  z-index: 1;
  opacity: 0.5;
  color: var(--themes-font-color, #000);
  font-family: var(--accent-font, 'fantasy');
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 1px 0px var(--themes-background-color, #fff),
    -1px 0px var(--themes-background-color, #fff),
    0px 1px var(--themes-background-color, #fff),
    0px -1px var(--themes-background-color, #fff);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--themes-background-color, #fff)) or
    (-webkit-text-stroke: 1px var(--themes-background-color, #fff))
) {
  .card__cover:before {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--themes-background-color, #fff);
    text-stroke: 1px var(--themes-background-color, #fff);
  }
}

.card__cover_brightness {
  filter: brightness(250%);
}

.card__cover_contrast {
  filter: contrast(600%) brightness(140%);
}
.card__cover_contrast:before {
  content: "<CSS>";
}

.card__cover_grayscale {
  filter: grayscale(1);
}
.card__cover_grayscale:before {
  content: "<desigions>";
  text-transform: lowercase;
}

.card__cover_sepia {
  filter: sepia(100%);
}
.card__cover_sepia:before {
  content: "care";
  text-transform: lowercase;
}

.card__cover_blur {
  filter: blur(0.25rem);
}
.card__cover_blur:before {
  content: "<support>";
  text-transform: lowercase;
}

.card__cover_saturate {
  filter: saturate(170%);
}
.card__cover_saturate:before {
  content: "<lifes-style: none;>";
  text-transform: lowercase;
}
.card__cover_invert {
  filter: invert(1);
}
.card__cover_invert:before {
  content: "<experience>";
  text-transform: lowercase;
}

.card__cover-image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.card__content {
  padding: 25px;
}

.card__content-text {
  color: var(--themes-font-color, #000);
  font-family: var(--main-font, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px; /* 116.667% */
}
.card__content-text p + p {
  padding-block-start: 27px;
}

.card__content > .like-button {
  justify-content: right;
  padding-block-start: 25px;
}

.like-button {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card__like-button {
  position: relative;
  border: 2px solid var(--themes-border-color, #000);
  padding: 9px 17px;
  outline: none;
  overflow: hidden;
  background-color: var(--themes-background-color, #fff);
  transition: box-shadow 1s ease;
  inline-size: 130px;
  block-size: 38px;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0px 0px var(--themes-border-color, #000);
}

.card__like-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--themes-accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inline-size: 100%;
  block-size: 100%;
}
.card__like-button:hover::before {
  transform: translateX(0%);
}

.card__like-button:hover .button__text {
  color: var(--themes-changed-color, #fff);
  mix-blend-mode: difference;
}

.button__text {
  color: var(--themes-font-color, #000);
  font-family: var(--accent-font, 'fantasy');
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  transition: color 0.5s ease-in-out;
}

.button-save {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--themes-border-color, #000);
  padding: 15px 0;
  outline: none;
  overflow: hidden;
  background: var(--themes-background-color, #fff);
  inline-size: clamp(19.125rem, 2.723vw + 18.487rem, 20.938rem);
}

.button-save:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--themes-accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  block-size: 100%;
  inline-size: 100%;
}
.button-save:hover::before {
  transform: translateX(0%);
}

.button-save:hover .button__text {
  color: var(--themes-changed-color, #fff);
  mix-blend-mode: difference;
}

.button-save > svg {
  position: relative;
  color: var(--themes-changed-color, #fff);
  block-size: 21px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--themes-border-color, #000);
  transition: border 0.3s ease;
}

.like-icon {
  width: 100%;
  height: 100%;
}

.sparks {
  opacity: 0;
}

/* DIALOG */

dialog:not([open]) {
  display: none;
}

.dialog[open] {
  width: clamp(21.313rem, 1.502vw + 20.96rem, 22.313rem);
  border: 2px solid var(--themes-border-color, #000);
  padding: 30px clamp(1.875rem, 0.939vw + 1.655rem, 2.5rem);
  color: var(--themes-font-color, #000);
  background-color: var(--themes-background-color, #fff);
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.dialog__content > svg {
  block-size: 39px;
  inline-size: 39px;
}

.dialog__text {
  width: clamp(12.375rem, 3.38vw + 11.583rem, 14.625rem);
  font-family: var(--accent-font, 'fantasy');
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.button-dialog {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-border-color, #000);
  padding: 10px 37px;

  outline: none;
  overflow: hidden;
  background-color: var(--themes-background-color, #fff);
  inline-size: 100%;
}

.button-dialog:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--themes-accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  block-size: 100%;
  inline-size: 100%;
}
.button-dialog:hover::before {
  transform: translateX(0%);
}

.button-dialog:hover .button__text {
  color: var(--themes-changed-color, #fff);
  mix-blend-mode: difference;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column;
    padding: 14px 0;
  }

  .button-save > svg {
    width: 28px;
    height: 28px;
  }

  .card__cover.card__cover_saturate + .card__content .card__content-text {
    padding-right: 4px;
  }
}
